MarkupSafe==2.1.2
polars==0.17.3
typing_extensions==4.5.0
uvicorn==0.21.1
pandas
pydantic
fastapi



#pip install
#polars
#uvicorn

#import
#polars as pl
#pandas as pd
#numpy as np

#from
#typing import Optional
#typing import Dict
#pydantic import BaseModel
#fastapi import FastAPI,Body,Query
